.search-form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.search-request {
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  width: 272px;
  padding: 8px 16px;
  border: 1px solid rgba(128, 128, 128, 1);
  border-radius: 4px;
  outline: none;
}

.search-request:hover {
  border-color: rgba(0, 0, 0, 1);
}

.search-request:focus {
  border-color: rgba(78, 117, 255, 1);
}

.search-btn {
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  padding: 8px 16px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(78, 117, 255, 1);
  border-radius: 8px;
  border: 1px solid transparent;
}

.search-btn:hover {
  background-color: rgba(108, 140, 255, 1);
}

.gallery-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid red;
  height: 200px;
}

.gallery-img {
  max-width: 100%;
}

.gallery-item-desc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  margin: 0 auto;
  --s: 25px;
  --g: 5px;

  height: calc(1.353 * var(--s) + var(--g));
  aspect-ratio: 3;
  background: linear-gradient(#ff1818 0 0) left/33% 100% no-repeat,
    conic-gradient(
      from -90deg at var(--s) calc(0.353 * var(--s)),
      #fff 135deg,
      #666 0 270deg,
      #aaa 0
    );
  background-blend-mode: multiply;
  --_m: linear-gradient(
      to bottom right,
      #0000 calc(0.25 * var(--s)),
      #000 0 calc(100% - calc(0.25 * var(--s)) - 1.414 * var(--g)),
      #0000 0
    ),
    conic-gradient(
      from -90deg at right var(--g) bottom var(--g),
      #000 90deg,
      #0000 0
    );
  -webkit-mask: var(--_m);
  mask: var(--_m);
  background-size: calc(100% / 3) 100%;
  -webkit-mask-size: calc(100% / 3) 100%;
  mask-size: calc(100% / 3) 100%;
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
  animation: l7 steps(3) 1.5s infinite;
  display: none;
}

.loader.active {
  display: block;
}
@keyframes l7 {
  to {
    background-position: 150% 0%;
  }
}
